h1{
  text-transform: uppercase;
}
body{
    height:200px;
    margin:50px auto;
    background-image: linear-gradient(bottom, #eb742e, #eb742e 10px, transparent 10px, transparent 100%);
    background-image: -webkit-linear-gradient(bottom, #eb742e, #eb742e 10px, transparent 10px, transparent 100%);
    background-attachment: fixed;
}
.error{
  border-bottom: 2px #ba4336 solid;
  border-top: 2px #ba4336 solid;
  background: #f2f2f2;
  padding: 5px;
}
.users{
  margin-top: 5px;
  transition: 0.2s;
}
.user-list-attribute{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.users:hover{
  background-color: #f4d9d1;
}

.back-link{
  font-size: 30px;
}

.back-link-div{
  text-align: center;
  margin-bottom: 5px;
}

a{
  text-decoration: none;
  color: #000000;
  transition: 0.2s;
}

a:hover{
  color: #ec712e;
}

.btn-primary{
  background-color : #eb742e;
  border-color: #eb742e;
}

.btn-primary:hover{
  background-color : #e06a26;
  border-color: #e06a26;
}

.btn-primary:focus{
  background-color : #e06a26;
  border-color: #e06a26;
}

.form-check-input:checked{
  background-color : #e06a26;
  border-color: #e06a26;
}
